.env
*.code-workspace
*.zip
.romanceio/
.vscode/
calibre/

.mypy_cache/

downloaded_files/
__pycache__/

# Commit common files in the common folder but not in plugin folders
# (they are added during build)
common_*.py
!common/common_*.py
test_data.py
!common/test_data.py
test_json_search_matching.py
!common/test_json_search_matching.py
test_orchestrator_errors.py
!common/test_orchestrator_errors.py
test_tag_slug_conversion.py
!common/test_tag_slug_conversion.py
test_html_sanitizer.py
!common/test_html_sanitizer.py
test_vendored_import.py
!common/test_vendored_import.py
update_static_test_data.py
!common/update_static_test_data.py
common_romanceio_static_test_data/
!common/common_romanceio_static_test_data/

# Vendored dependencies for romanceio and romanceio_fields plugins
romanceio*/*.dist-info/
romanceio*/bin/
romanceio*/sbase/
romanceio*/certifi/
romanceio*/charset_normalizer/
romanceio*/colorama/
romanceio*/cssselect/
romanceio*/fake_useragent/
romanceio*/fasteners/
romanceio*/idna/
romanceio*/lxml/
romanceio*/mycdp/
romanceio*/requests/
romanceio*/sbvirtualdisplay/
romanceio*/selenium/
romanceio*/seleniumbase/
romanceio*/typing_extensions/
romanceio*/urllib3/
romanceio*/websocket/
romanceio*/websocket_client/
romanceio*/websockets/
romanceio*/Xlib/
romanceio*/six.py
romanceio*/parse.py
romanceio*/pdbp.py
romanceio*/py.py
romanceio*/pytest_ordering.py
romanceio*/pytest_rerunfailures.py
romanceio*/readline.py
romanceio*/setuptools_behave.py
romanceio*/socks.py
romanceio*/sockshandler.py
romanceio*/tabcompleter.py
romanceio*/typing_extensions.py
